* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: grey;
}

.t {
    display: flex;
    justify-content: space-between, center;
    width: 90%;
    max-width: 1000px;
    height: auto;
    padding: 8px 0 5px;
    align-items: center;

}

.img1 img {
    margin: 0 10px;
    width: 100%;
    height: auto;
    max-height: 6vh;
    object-fit: fill;
}

#jam {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: right;
    margin: auto;
    margin-left: 20px;
}

/* Styling menu bar*/
nav {
    background-color: black;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    letter-spacing: 1px;
}

.menu li a:hover {
    color: yellow;
}